
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}


body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 22px;
}

.ant-form-item{
  margin-bottom: 0px !important;
}

.ant-form-item-label{
  padding: 4px !important;
}

a:hover{
  color: #222831 !important;
}

table{
  margin-top: 20px;
  border: 1px solid #adadad;
}